/* ===============================
   PAGE LAYOUT
================================== */
.login-wrapper {
  display: flex;
  height: 100vh;
  background: #f8f9fc;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

/* LEFT */
.login-left {
  width: 50%;
  padding: 60px 80px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

/* FORM */
.login-form {
  width: 100%;
  max-width: 380px;
}

.input-label {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cfd3d8;
  margin-bottom: 15px;
  background: #fff;
  font-size: 15px;
}

/* PASSWORD BOX */
.password-box {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.password-toggle img {
  width: 22px;
  height: 22px;
  opacity: 0.6;
  transition: 0.2s;
}

.password-toggle img:hover {
  opacity: 1;
}

/* LOGIN BUTTON */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #1a73e8;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background: #1664c4;
}

/* ERROR MESSAGE */
.error-msg {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/* ===============================
   RIGHT PANEL (ILLUSTRATION)
================================== */
.login-right {
  width: 50%;
  background: #f8f9fc;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-illustration {
  width: 65%;
  margin: auto;
}

.login-right h2 {
  margin-top: 25px;
  font-size: 22px;
}

.login-right p {
  width: 70%;
  margin: 10px auto 0;
  color: #555;
  font-size: 15px;
}
