body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  z-index: 10;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.header-buttons button {
  background-color: #d386cbb7;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-left: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.header-buttons button:hover {
  background-color: #1abc9c;
}

/* CONTENT AREA */
.content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  background-color: #ecf0f1;
}
